# Email Configuration
EMAIL_HOST={{EMAIL_HOST}}
EMAIL_PORT={{EMAIL_PORT}}
EMAIL_SECURE={{EMAIL_SECURE}}
EMAIL_USER={{EMAIL_USER}}
EMAIL_PASS={{EMAIL_PASS}}

# Kafka Configuration
KAFKA_BROKERS={{KAFKA_BROKERS}}
KAFKA_CLIENT_ID={{KAFKA_CLIENT_ID}}
KAFKA_GROUP_ID={{KAFKA_GROUP_ID}}
KAFKA_TOPIC={{KAFKA_TOPIC}}

# Application Configuration
PORT={{PORT}}
NODE_ENV={{NODE_ENV}}
